.notificacion {
    font-family: 'Libre Baskervville';
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dfe0df;
    color: #402e32;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;

    display: flex;
}
.notifi_detalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notifi_detalles span{
    font-size: 2rem;
}
.notificacion img{
    margin-left: 10px;
    width: 200px;
}

.advertencia{
    background-color: tomato;
}
.notifi_advertencia{
    font-size: 1.5rem;
}


.notificacion:hover{
    box-shadow: 0px 3px 9px #c0801f;
}