@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cargando {
    border: 6px dotted black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: loading 4s infinite linear;
    -webkit-animation: loading 4s infinite linear;
}