.nav{
    background-color: #ab8b67;
    font-family: "Baskervville SC", serif;
    font-size: 2.3rem;
}


.nav_ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 43px;
}

.nav_ul_li a{
    color: #dfe0df;
    cursor: pointer;
    text-decoration: none;
}
.nav_ul_li:hover{
    color: #fff8f0;
    transform: scale(1.2);
    transition: all 300ms linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.nav_ul_li:active{
    color: #ab8b67;
    text-shadow: 0 0 3px #fff7ec;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
}

.ruta_actual{
    text-shadow: 3px 3px 5px black;
}
.ruta_actual_home{
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
}

.li_a_span{
    font-family: 'Libre Baskervville';
    font-size: 1.7rem;
    position: absolute;
    margin-left: 3px;
    margin-top: 13px;
    z-index: 1;
    background-color: #ab8b6700;
}
.li_a_img{
    width: 55px;
}
.ruta_actual_cart{
    color: green;
}